---
layout: base.liquid
permalink: "{{ page.filePathStem }}.html"

win:
    ver: "5.1.1"
    lt_ver: "1.2.20+git9ab80b8724 / 2.0.11+git2e16847613"
    qt_ver: "6.9.1"
    boost_ver: "1.88.0"
    hash_qt6_lt12: "6f34bf855e229274d497ffc22f1a883a226828324b6601534efbb7ef89bae4bc"
    hash_qt6_lt20: "c4ea68c10856a3011fb1965cc6320eb9e3b785497c3da352ef703f33f2f35716"
macos:
    ver: "5.0.5"
    lt_ver: "1.2.20+git68ec0785cd / 2.0.11+git21cbbf74ee"
    qt_ver: "6.7.3"
    boost_ver: "1.86.0"
    hash_lt12: "7285e98b5ef4b9a227247dcd933f1a556bfc1ff10901fc7aedb0c4b7ad082814"
    hash_lt20: "f0180356f89590d2de639ba700813fb9ba1d90dde1af5353fc7621a048cccbb2"
appimage:
    ver: "5.1.1"
    lt_ver: "1.2.20+git9ab80b8724 / 2.0.11+git2e16847613"
    qt_ver: "6.9.1"
    boost_ver: "1.88.0"
    hash_lt12: "16ba15d6a7988769c411d46ab2e82aaf9244a3299c8fbbb41132177f3a5b546a"
    hash_lt20: "356e24d0668e16277fa576f5a56c34e0808e41c38e436e8587252edadb7027a7"
src:
    ver: "5.1.1"
    hash_gz: "51998f1e6e637cfcdc506b67d677e29e80b7bb88dc28269da776fdfb13251f4b"
    hash_xz: "a435edef252114e310412ef2384bcbe2c1cbb5273a2e59525c8fbb07508e1f55"
---
<script defer src="scripts/download.js"></script>

<h2>Downloads</h2>

<h3 id="pgp">
  <a class="header-anchor" href="#pgp">Public Key for PGP Signing</a>
</h3>
<p>
  Starting from v3.3.4 all source tarballs and binaries are signed.
</p>
<p>
  The key currently used is: <a href="https://pgp.mit.edu/pks/lookup?op=get&amp;search=0x6E4A2D025B7CC9A2" target="_blank"><code>4096R/5B7CC9A2</code></a><br>
  Fingerprint: <code>D8F3DA77AAC6741053599C136E4A2D025B7CC9A2</code><br>
  You can also download it from <a href="https://github.com/qbittorrent/qBittorrent/raw/master/5B7CC9A2.asc" target="_blank">here</a>
</p>
<p>
  Previously the following key was used to sign the v3.3.4 source tarballs and v3.3.4 Windows installer <strong>only</strong>: <a href="https://pgp.mit.edu/pks/lookup?op=get&amp;search=0xA1ACCAE4520EC6F6" target="_blank"><code>4096R/520EC6F6</code></a><br>
  Fingerprint: <code>F4A5FD201B117B1C2AB590E2A1ACCAE4520EC6F6</code>
</p>
<br>


<h3 id="windows">
  <a class="header-anchor" href="#windows">Windows 10 / 11</a>
</h3>
<div class="flexbox">
  <div class="osIcon">
    <img src="img/os/winlogo.webp" alt="Windows icon">
  </div>
  <div>
    <p class="releaseParagraph">
      <strong><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/">Download qBittorrent v{{win.ver}}</a></strong> (multiple installer choice)
    </p>
    <details>
    <summary class="downloadsOptions">(Additional download options)</summary>
    <br>
    <table class="downloads-table">
      <tbody>
        <tr>
          <th scope="col">Installer (64-bit)</th>
          <th scope="col">Info</th>
          <th scope="col">Mirrors</th>
          <th scope="col">PGP Signature</th>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/">{{win.ver}}</a></td>
          <td>Uses Qt6 and libtorrent 1.2.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_x64_setup.exe/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_x64_setup.exe.asc/download">SourceForge</a></td>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/">{{win.ver}} (qt6 lt20)</a></td>
          <td>Uses Qt6 and libtorrent 2.0.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe.asc/download">SourceForge</a></td>
        </tr>
      </tbody>
    </table>
    </details>
    <br>
    <details>
    <summary>Checksums and library versions</summary>
    <br>
    <table>
      <tbody>
        <tr>
          <td><strong>Version</strong></td>
          <td><strong>SHA2-256</strong></td>
        </tr>
        <tr>
          <td>{{win.ver}}</td>
          <td class="wordBreak"><code>{{win.hash_qt6_lt12}}</code></td>
        </tr>
        <tr>
          <td>{{win.ver}} (qt6 lt20)</td>
          <td class="wordBreak"><code>{{win.hash_qt6_lt20}}</code></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><strong>Library</strong></td>
          <td><strong>Version</strong></td>
        </tr>
        <tr>
          <td class="nobr">libtorrent-rasterbar</td>
          <td>{{win.lt_ver}}</td>
        </tr>
        <tr>
          <td>Qt</td>
          <td>{{win.qt_ver}}</td>
        </tr>
        <tr>
          <td>Boost</td>
          <td>{{win.boost_ver}}</td>
        </tr>
      </tbody>
    </table>
    </details>
    <p class="releaseParagraph">
      <strong><a href="https://github.com/qbittorrent/qBittorrent/actions/workflows/ci_windows.yaml?query=branch%3Amaster" title="GitHub (require registration)">Download nightly builds</a></strong>
    </p>
  </div>
</div>
<br>


<h3 id="macos">
  <a class="header-anchor" href="#macos">macOS Big Sur / Monterey / Ventura / Sonoma</a>
</h3>
<div class="flexbox">
  <div class="osIcon">
    <img src="img/os/macoslogo.webp" alt="macOS icon">
  </div>
  <div>
    <p class="releaseParagraph">
      <strong><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/">Download qBittorrent v{{macos.ver}}</a></strong> (multiple DMG choice)
    </p>
    <details>
    <summary class="downloadsOptions">(Additional download options)</summary>
    <br>
    <table class="downloads-table">
      <tbody>
        <tr>
          <th scope="col">DMG</th>
          <th scope="col">Info</th>
          <th scope="col">Mirrors</th>
          <th scope="col">PGP Signature</th>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/">{{macos.ver}}</a></td>
          <td>Uses Qt6 and libtorrent 1.2.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/qbittorrent-{{macos.ver}}/qbittorrent-{{macos.ver}}.dmg/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/qbittorrent-{{macos.ver}}/qbittorrent-{{macos.ver}}.dmg.asc/download">SourceForge</a></td>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/">{{macos.ver}} (qt6 lt20)</a></td>
          <td>Uses Qt6 and libtorrent 2.0.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/qbittorrent-{{macos.ver}}/qbittorrent-{{macos.ver}}_lt20.dmg/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-mac/qbittorrent-{{macos.ver}}/qbittorrent-{{macos.ver}}_lt20.dmg.asc/download">SourceForge</a></td>
        </tr>
      </tbody>
    </table>
    </details>
    <br>
    <details>
    <summary>Checksums and library versions</summary>
    <br>
    <table>
      <tbody>
        <tr>
          <td><strong>Version</strong></td>
          <td><strong>SHA2-256</strong></td>
        </tr>
        <tr>
          <td>{{macos.ver}}</td>
          <td class="wordBreak"><code>{{macos.hash_lt12}}</code></td>
        </tr>
        <tr>
          <td>{{macos.ver}} (qt6 lt20)</td>
          <td class="wordBreak"><code>{{macos.hash_lt20}}</code></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><strong>Library</strong></td>
          <td><strong>Version</strong></td>
        </tr>
        <tr>
          <td class="nobr">libtorrent-rasterbar</td>
          <td>{{macos.lt_ver}}</td>
        </tr>
        <tr>
          <td>Qt</td>
          <td>{{macos.qt_ver}}</td>
        </tr>
        <tr>
          <td>Boost</td>
          <td>{{macos.boost_ver}}</td>
        </tr>
      </tbody>
    </table>
    </details>
    <p class="releaseParagraph">
      <strong><a href="https://github.com/qbittorrent/qBittorrent/actions/workflows/ci_macos.yaml?query=branch%3Amaster" title="GitHub (require registration)">Download nightly builds</a></strong>
    </p>
    <br>
    <div class="downloadNotesDiv">
      <p>
        The macOS version is <strong>barely supported,</strong> because we don't have active macOS developers/contributors.<br>
        The project is in need of macOS developers. If you are a macOS developer willing to help, just go to our bug tracker for a list of macOS related issues. Or try to fix bugs that you yourself have discovered and annoy you.
      </p>
    </div>
  </div>
</div>
<br>


<h3 id="linux">
  <a class="header-anchor" href="#linux">Linux</a>
</h3>
<div class="flexbox">
  <div class="osIcon">
    <img src="img/os/tux.svg" alt="linux icon" width="100">
  </div>
  <div>
    <p class="releaseParagraph">
      <strong><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/">Download qBittorrent v{{appimage.ver}}</a></strong> (multiple AppImage choice)
    </p>
    <details>
    <summary class="downloadsOptions">(Additional download options)</summary>
    <br>
    <table class="downloads-table">
      <tbody>
        <tr>
          <th scope="col">AppImage</th>
          <th scope="col">Info</th>
          <th scope="col">Mirrors</th>
          <th scope="col">PGP Signature</th>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/">{{appimage.ver}}</a></td>
          <td>Uses Qt6 and libtorrent 1.2.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/qbittorrent-{{appimage.ver}}/qbittorrent-{{appimage.ver}}_x86_64.AppImage/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/qbittorrent-{{appimage.ver}}/qbittorrent-{{appimage.ver}}_x86_64.AppImage.asc/download">SourceForge</a></td>
        </tr>
        <tr>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/">{{appimage.ver}} (qt6 lt20)</a></td>
          <td>Uses Qt6 and libtorrent 2.0.x series.</td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/qbittorrent-{{appimage.ver}}/qbittorrent-{{appimage.ver}}_lt20_x86_64.AppImage/download">SourceForge</a></td>
          <td><a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-appimage/qbittorrent-{{appimage.ver}}/qbittorrent-{{appimage.ver}}_lt20_x86_64.AppImage.asc/download">SourceForge</a></td>
        </tr>
      </tbody>
    </table>
    </details>
    <br>
    <details>
    <summary>Checksums and library versions</summary>
    <br>
    <table>
      <tbody>
        <tr>
          <td><strong>Version</strong></td>
          <td><strong>SHA2-256</strong></td>
        </tr>
        <tr>
          <td>{{appimage.ver}}</td>
          <td class="wordBreak"><code>{{appimage.hash_lt12}}</code></td>
        </tr>
        <tr>
          <td>{{appimage.ver}} (qt6 lt20)</td>
          <td class="wordBreak"><code>{{appimage.hash_lt20}}</code></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><strong>Library</strong></td>
          <td><strong>Version</strong></td>
        </tr>
        <tr>
          <td class="nobr">libtorrent-rasterbar</td>
          <td>{{appimage.lt_ver}}</td>
        </tr>
        <tr>
          <td>Qt</td>
          <td>{{appimage.qt_ver}}</td>
        </tr>
        <tr>
          <td>Boost</td>
          <td>{{appimage.boost_ver}}</td>
        </tr>
      </tbody>
    </table>
    </details>
    <p class="releaseParagraph">
      <strong><a href="https://github.com/qbittorrent/qBittorrent/actions/workflows/ci_ubuntu.yaml?query=branch%3Amaster" title="GitHub (require registration)">Download nightly builds</a></strong>
    </p>
    <br>
    <div class="downloadNotesDiv">
      <p>
        The AppImage is created on Ubuntu 22.04. It should work on any other similarly aged distro.<br>
        For native packages and Ubuntu PPAs take a look at the <code>Other Binary Packages</code> section below.
      </p>
    </div>
  </div>
</div>
<br>


<h3 id="source-tarball">
  <a class="header-anchor" href="#source-tarball">Source Tarball</a>
</h3>
<div class="flexbox">
  <div class="osIcon">
    <img src="img/tar-logo.svg" alt="tarball icon" width="100">
  </div>
  <div>
    <p>
      <strong>Current version: qBittorrent v{{src.ver}}</strong>
    </p>
    <p>
      <strong>Download link: <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent/qbittorrent-{{src.ver}}/qbittorrent-{{src.ver}}.tar.gz/download">TAR.GZ</a> / <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent/qbittorrent-{{src.ver}}/qbittorrent-{{src.ver}}.tar.gz.asc/download">PGP signature</a></strong> (SourceForge)<br>
      <strong>Download link: <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent/qbittorrent-{{src.ver}}/qbittorrent-{{src.ver}}.tar.xz/download">TAR.XZ</a> / <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent/qbittorrent-{{src.ver}}/qbittorrent-{{src.ver}}.tar.xz.asc/download">PGP signature</a></strong> (SourceForge)
    </p>
    <p>
      Compile instructions over <a href="https://github.com/qbittorrent/qBittorrent/wiki#compilation" target="_blank">here</a>.
    </p>
    <table>
      <tbody>
        <tr>
          <td><strong>Checksum</strong></td>
          <td><strong>SHA2-256</strong></td>
        </tr>
        <tr>
          <td>TAR.GZ</td>
          <td class="wordBreak"><code>{{src.hash_gz}}</code></td>
        </tr>
        <tr>
          <td>TAR.XZ</td>
          <td class="wordBreak"><code>{{src.hash_xz}}</code></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><strong>Dependency</strong></td>
          <td><strong>Recommended version</strong></td>
        </tr>
        <tr>
          <td class="nobr">libtorrent-rasterbar</td>
          <td>1.2 branch latest release</td>
        </tr>
        <tr>
          <td>Qt</td>
          <td>Latest stable release</td>
        </tr>
        <tr>
          <td>Boost</td>
          <td>Latest stable release</td>
        </tr>
        <tr>
          <td>OpenSSL</td>
          <td>Versions later than 3.0.2</td>
        </tr>
        <tr>
          <td>zlib</td>
          <td>Latest stable release</td>
        </tr>
        <tr>
          <td>Python (optional, runtime only)</td>
          <td>Versions later than 3.9.0</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>


<h3 id="other-binary-packages">
  <a class="header-anchor" href="#other-binary-packages">Other Binary Packages</a>
</h3>
<div>
  <label for="OSSelect">Select operating system:</label>
  <select id="OSSelect">
    <option value="emptyOS" selected>Choose...</option>
    <option value="os2">eComStation (OS/2)</option>
    <option value="freebsd">FreeBSD</option>
    <option value="haiku">Haiku</option>
    <option value="linux">Linux</option>
  </select>
</div>
<br>
<div id="linuxDiv" class="invisible">
  <label for="distroSelect">Select distribution:</label>
  <select id="distroSelect">
    <option value="emptyDist" selected>Choose...</option>
    <option value="altlinux">Alt Linux</option>
    <option value="archlinux">ArchLinux</option>
    <option value="blackpanther">blackPanther OS</option>
    <option value="debian">Debian</option>
    <option value="docker">Docker</option>
    <option value="fedora">Fedora</option>
    <option value="flatpak">Flatpak</option>
    <option value="gentoo">Gentoo</option>
    <option value="mageia">Mageia</option>
    <option value="opensuse">OpenSuse</option>
    <option value="pardus">Pardus</option>
    <option value="slackware">Slackware</option>
    <option value="ubuntu">Ubuntu</option>
  </select>
</div>

<div id="os2Div" class="invisible">
  <img src="img/os/ecs_logo.webp" alt="eComStation" loading="lazy" style="float: left; margin-right: 5px; width: 100px;"><br>
  <p>qBittorrent is available on <a href="http://www.ecomstation.com/">eComStation (OS/2)</a> via this <a href="https://svn.netlabs.org/qtapps/wiki/QT4%20Networking">download</a> page.</p>
  <p>This package is maintained by <a href="mailto:silvan.scherrer@aroa.ch">Silvan Scherrer</a>.</p>
</div>

<div id="freebsdDiv" class="invisible">
  <h4>FreeBSD packages</h4>
  <img src="img/os/freebsd.svg" alt="FreeBSD" loading="lazy" style="float: left; margin-right: 5px; width: 6em;">
  <p>qBittorrent is officially packaged for FreeBSD. <br>
    More information about the port can be found on the <a href="https://www.freshports.org/net-p2p/qbittorrent">FreshPorts website</a>.<br><br>
    To install qBittorrent, you should issue the following commands:
  </p>
  <div class="codePart" style="width:540px; margin:10px 10px 10px 5px; padding:5px;">
    pkg install qbittorrent
  </div>
</div>

<div id="haikuDiv" class="invisible">
  <h4>Haiku port</h4>
  <p><img src="img/os/haiku.webp" alt="Haiku" loading="lazy" style="float: left; margin-right: 5px;">qBittorrent is available in HaikuDepot.</p>
  <p>You can download it from <a href="https://depot.haiku-os.org/qbittorrent_x86">here</a>.</p>
</div>

<div id="altlinuxDiv" class="invisible">
  <h4>Alt Linux packages</h4>
  <img src="img/os/altlinux.webp" alt="Alt Linux" loading="lazy" style="float: left; margin-right: 5px; width: 65px;">qBittorrent is officially packaged on <a href="https://www.altlinux.org">Alt Linux</a>. These packages are maintained by <a href="http://sisyphus.ru/en/packager/swi">Alexey Morsov</a>. Packages are available <a href="http://sisyphus.ru/en/srpm/Branch5/qbittorrent/">here</a>. To install, simply type the following commands:
  <div class="codePart" style="width:540px; margin:10px 10px 10px 5px; padding:5px;">
    sudo apt-get update &amp;&amp; sudo apt-get install qbittorrent
  </div>
</div>

<div id="archlinuxDiv" class="invisible">
  <h4>ArchLinux packages</h4>
  <img src="img/os/archlinux.svg" alt="ArchLinux" loading="lazy" style="float: left; margin-right: 5px; width: 65px;">
  qBittorrent is officially packaged on <a href="https://www.archlinux.org/">ArchLinux</a>.
  To install, simply type the following commands:
  <div class="codePart" style="margin:10px 10px 10px 70px; padding:5px;">
    sudo pacman -S qbittorrent
  </div>
  Package information <a href="https://www.archlinux.org/packages/?q=qbittorrent">here</a>.<br><br>
  For development, you can get PKGBUILD from Arch User Repository (AUR) and build it yourself:<br>
  AUR (non-official) information <a href="https://aur.archlinux.org/packages/qbittorrent-git/">here</a>.
</div>

<div id="blackpantherDiv" class="invisible">
  <h4>blackPanther OS packages</h4>
  <img src="img/os/blackPanther-dark.webp" loading="lazy" alt="blackPanther OS" style="float: left; margin-right: 5px; width: 65px;">
  <p>qBittorrent is officially shipped on <a href="http://www.blackpanther.hu">blackPanther OS</a> CD as the default Bittorrent client. RPM packages are available <a href="ftp://ftp.blackpanther.hu/blackPanther/OS/All/Seeker/qbittorrent/">here</a>.</p>
  <p>These packages are maintained by <a href="mailto:kbarcza@blackpanther.hu">Charles Barcza</a>.</p>
</div>

<div id="debianDiv" class="invisible">
  <h4>Debian packages</h4>
  <img src="img/os/debian.svg" alt="Debian" loading="lazy" style="float: left; margin-right: 5px; height: 4em;">
  <p>qBittorrent and libtorrent-rasterbar are now officially included in Debian. Packages are maintained by <a href="mailto:cristian.debian@gmail.com">Cristian Greco</a>. See this <a href="https://packages.debian.org/search?keywords=qbittorrent&searchon=names&suite=all&section=all">page</a> for more information.</p>
</div>

<div id="dockerDiv" class="invisible">
  <h4>Docker images</h4>
  <img src="img/os/docker.webp" alt="Docker" loading="lazy" style="float: left; margin-right: 5px; width: 7em;">
  <p>
    Official docker images are provided. Please follow the instructions <a href="https://github.com/qbittorrent/docker-qbittorrent-nox#usage">here</a>.<br>
    Docker hub <a href="https://hub.docker.com/r/qbittorrentofficial/qbittorrent-nox">link</a>.
  </p>
</div>

<div id="fedoraDiv" class="invisible">
  <h4>Fedora packages</h4>
  <img src="img/os/fedoralogo.webp" alt="Fedora" loading="lazy" style="float: left; margin-right: 5px; width: 65px;">
  <p>qBittorrent is officially packaged on Fedora. RPM packages are maintained by <a href="mailto:leigh123linux@googlemail.com">Leigh Scott</a>.</p>
  <p>See this <a href="https://packages.fedoraproject.org/pkgs/qbittorrent/">page</a> for more information.</p>
</div>

<div id="flatpakDiv" class="invisible">
  <h4>Flatpak app</h4>
  <img src="img/os/flatpak.svg" alt="Flatpak" loading="lazy" style="float: left; margin-right: 5px; width: 8em;">
  <p>For installation, head over to FlatHub page: <a href="https://flathub.org/apps/details/org.qbittorrent.qBittorrent">https://flathub.org/apps/details/org.qbittorrent.qBittorrent</a></p>
  <p>For reporting bugs, head over to the issue tracker: <a href="https://github.com/flathub/org.qbittorrent.qBittorrent/issues">https://github.com/flathub/org.qbittorrent.qBittorrent/issues</a></p>
</div>

<div id="gentooDiv" class="invisible">
  <h4>Gentoo ebuilds</h4>
  <img src="img/os/gentoo.svg" alt="Gentoo" loading="lazy" style="float: left; margin-right: 5px; height: 4em;">qBittorrent is officially available in portage. You can install it easily on your system using emerge command. These ebuilds are maintained by <a href="mailto:zlogene@gentoo.org">Mikle Kolyada</a>. See <a href="https://packages.gentoo.org/packages/net-p2p/qbittorrent">this page</a> for more information.
</div>

<div id="mageiaDiv" class="invisible">
  <h4>Mageia packages</h4>
  <img src="img/os/mageia.webp" alt="Mageia" loading="lazy" style="float: left; margin-right: 5px;">
  <p>qBittorrent is currently packaged in the Mageia official repositories.
    It is packaged by <a href="mailto:ahmad@mageia.org">Ahmad Samir</a>. To install it, make
    sure the online repositories are configured correctly then install it
    either:
  </p>
  <ul>
    <li>As root from terminal: 'urpmi qbittorrent' OR</li>
    <li>Using rpmdrake (aka "Install &amp; remove software")</li>
  </ul>
</div>

<div id="opensuseDiv" class="invisible">
  <h4>OpenSuse packages</h4>
  <img src="img/os/opensuse.svg" alt="openSUSE" loading="lazy" style="float:left; margin-right:5px; height: 5em;">
  <p>qBittorrent has been in the OpenSuse official repository since v11.3. <br>
    <br>
    One-click install <a href="https://software.opensuse.org/package/qbittorrent">here</a>.
  </p>
</div>

<div id="pardusDiv" class="invisible">
  <h4>Pardus packages</h4>
  <img src="img/os/pardus.webp" alt="Pardus" loading="lazy" style="float: left; margin-right: 5px; width: 100px;">qBittorrent is officially available on <a href="https://www.pardus.org.tr/en/home/">Pardus</a> via the contrib repository. These packages are maintained by <a href="http://packages.pardus.org.tr/info/contrib/2009/stable/packager/H.%20%C4%B0brahim%20G%C3%BCng%C3%B6r.html">H. İbrahim Güngör</a>. Packages are available <a href="http://packages.pardus.org.tr/info/contrib/2009/stable/source/qbittorrent.html">here</a>. <br>
  <br>To install, simply type the following command:
  <div class="codePart" style="width:540px; margin:10px 10px 10px 5px; padding:5px;">
    #Ensure the contrib repo is present on your system:<br>
    sudo pisi ar contrib http://packages.pardus.org.tr/contrib-2009/pisi-index.xml.bz2<br>
    <br>
    #Enable the contrib repo if present but disabled:<br>
    sudo pisi er contrib<br>
    <br>
    #Install qBittorrent:<br>
    sudo pisi it qbittorrent<br>
  </div>
</div>

<div id="slackwareDiv" class="invisible">
  <h4>Slackware scripts</h4>
  <img src="img/os/slackware.webp" alt="Slackware" loading="lazy" style="float: left; margin-right: 5px; width: 65px;">
  <p>qBittorrent is available for Slackware through <a href="https://slackbuilds.org/">slackbuilds.org</a>. The slackbuild script is maintained by <a href="mailto:info@davidwoodfall.co.uk">David Woodfall</a>. See this <a href="https://slackbuilds.org/result/?search=qBittorrent&sv=">page</a> for more information.</p>
  <p><a href="mailto:alien@slackware.com">Eric Hameleers</a> is also maintaining binary packages for slackware. Those are available <a href="http://slackware.com/~alien/slackbuilds/qbittorrent/">there</a>.</p>
</div>

<div id="ubuntuDiv" class="invisible">
  <h4>Ubuntu packages</h4>
  <img src="img/os/ubuntu.svg" alt="Ubuntu" loading="lazy" style="float: left; margin-right: 5px; height: 4em;">
  <p>
    qBittorrent is now available in official Ubuntu repositories since v9.04 "Jaunty".<br>
    More up-to-date packages are published on our <a href="https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable">stable</a>
    and <a href="https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-unstable">unstable</a> PPAs.
    <br>The PPAs support the latest Ubuntu version and some of the previous ones.
  </p>
  <h5>Quick instructions</h5>
  <p>To use these PPAs please use the following command and make sure your version is supported:</p>
  <div class="codePart" style="width: 500px;">
    <b># qBittorrent Stable</b><br>
    sudo add-apt-repository ppa:qbittorrent-team/qbittorrent-stable<br><br>
    <b># or qBittorrent Unstable</b><br>
    sudo add-apt-repository ppa:qbittorrent-team/qbittorrent-unstable
  </div>
  <p>Then install qBittorrent by doing this:</p>
  <div class="codePart" style="width: 500px;">
    sudo apt-get update &amp;&amp; sudo apt-get install qbittorrent
  </div>
</div>

<hr class="invisible clear">
<br>


<h3 id="old-release-archive">
  <a class="header-anchor" href="#old-release-archive">Old Release Archive</a>
</h3>
<ul>
  <li><a href="https://sourceforge.net/projects/qbittorrent/files/">SourceForge</a></li>
</ul>
<br>
